In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/tomorrowas/Downloads/ds-admissions-challenge-master/results.csv')

In [3]:
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

# 1.What is the average number of goals for the home team?

In [4]:
average_home_goals = df['home_score'].mean()
print("Average number of goals for the home team:", average_home_goals)

Average number of goals for the home team: 1.7393136930376256

# 2.What is the average number of goals for the away team?

In [5]:
average_away_goals = df['away_score'].mean()
print("Average number of goals for the away team", average_away_goals)

Average number of goals for the away team 1.1782412004854905

# 3.What is the country with the highest overall home score ?

In [18]:
home_scores_sum_by_country = df.groupby('country')['home_score'].sum()
country_with_highest_home_score_sum = home_scores_sum_by_country.idxmax()
print("Country with the highest home score sum:", country_with_highest_home_score_sum)

Country with the highest home score sum: United States

# 4.What are the top 3 types pf tournament ?

In [14]:
tournament_counts = df['tournament'].value_counts()
top_3_tournaments = tournament_counts.head(3)
print("Top 3 types of tournaments:",top_3_tournaments)

Top 3 types of tournaments: tournament
Friendly                        17773
FIFA World Cup qualification     8016
UEFA Euro qualification          2815
Name: count, dtype: int64

# 5.Which country has the highest overall FIFA World Cup goals?

In [16]:
fifa_df = df[df['tournament'] == 'FIFA World Cup'].copy()
fifa_df['total_score'] = fifa_df['home_score'] + fifa_df['away_score']
total_goals_by_country = fifa_df.groupby('home_team')['total_score'].sum()
country_with_highest_goals = total_goals_by_country.idxmax()

print("Country with the highest overall FIFA World Cup goals:", country_with_highest_goals)

Country with the highest overall FIFA World Cup goals: Brazil